body{
    font-family: sans-serif, 'Times New Roman', Times, serif;
}
ul{
    
    background-color: rgb(87, 73, 73);
    position: fixed;
    top: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    font-size: medium;
    font-family: sans-serif;
    font-weight: 700;
    
}
li{
    float: left;
}
li a{
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
li a:hover{
    background-color:  rgb(228, 199, 204);
    color: black;
    text-decoration: none;
}
.titleBanner{
    position: absolute;
    font-size: 4em;
    top: 200px;
    left: 350px;
    color: rgb(0, 255, 200);
    text-shadow: 2px 2px 1px lightskyblue;
    text-transform: uppercase;
    
}
footer{
    padding: 3px;
    text-align: center;
    background-color: rgb(228, 199, 204);
    color: black;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.orderImage{
    margin-top: 100px;
    margin-left: 100px;
    
}
#colWrapper{
    background-color: pink;
}
.orderItems{
    margin-top: 50px;
}
.orderForm{
    margin-top: 120px;
    margin-right: 50px;
    border: 3px solid green;
    border-radius: 5px;
    padding: 10px;
    background-color: black;
    color: orange;
    
}
#orderWrapper{
    background-image: url("./images/orderbg.jpeg");
}
    .button {
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      
      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .button:hover span {
        padding-right: 25px;
      }
      
      .button:hover span:after {
        opacity: 1;
        right: 0;
      }
}